<!--<div style="text-align:left;width:500px;">-->
<!--  <h1>-->
<!--    {{ title }}-->
<!--  </h1>-->

<!--  <table *ngIf="months">-->
<!--    &lt;!&ndash; ADD HEADERS &ndash;&gt;-->
<!--    <tr>-->
<!--      <th>ID</th>-->
<!--      <th>Name</th>-->
<!--    </tr>-->

<!--    &lt;!&ndash; BIND ARRAY TO TABLE &ndash;&gt;-->
<!--    <tr *ngFor="let month of months">-->
<!--      <td>{{month.id}}</td>-->
<!--      <td>{{month.name}}</td>-->
<!--    </tr>-->
<!--  </table>-->
<!--</div>-->

<div>
<!--  <mat-table #table [dataSource]="dataSource">-->

<!--&lt;!&ndash;    <ng-container matColumnDef="id">&ndash;&gt;-->
<!--&lt;!&ndash;      <mat-header-cell *matHeaderCellDef [resizeColumn]="true" [index]="i">ID</mat-header-cell>&ndash;&gt;-->
<!--&lt;!&ndash;      <mat-cell *matCellDef="let element" (click)="onClick(element)">{{element.id}}</mat-cell>&ndash;&gt;-->
<!--&lt;!&ndash;    </ng-container>&ndash;&gt;-->

<!--&lt;!&ndash;    <ng-container matColumnDef="name">&ndash;&gt;-->
<!--&lt;!&ndash;      <mat-header-cell *matHeaderCellDef [resizeColumn]="true" [index]="i">Name</mat-header-cell>&ndash;&gt;-->
<!--&lt;!&ndash;      <mat-cell *matCellDef="let element" (click)="onClick(element)">{{element.name}}</mat-cell>&ndash;&gt;-->
<!--&lt;!&ndash;    </ng-container>&ndash;&gt;-->
<!--  </mat-table>-->
</div>
<div>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container *ngFor="let column of dispColumns; let i = index" [matColumnDef]="column">
      <th mat-header-cell *matHeaderCellDef [resizeColumn]="true"
          [index]="i"> <span>{{column}} </span></th>
      <td mat-cell *matCellDef="let element" (click)="onClick(element)"> {{element[column]}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="dispColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: dispColumns;"></tr>
  </table>
</div>
<div>
  <form #qForm="ngForm" novalidate (ngSubmit)="submit(qForm)">
  <div>
    <input name="search" [(ngModel)]="search">
  </div>
  <div>
    <button (click)="submit(qForm)">Search</button>
    <button (click)="create(qForm)">Create</button>
    <button (click)="edit(qForm)">Edit</button>
    <button (click)="remove(qForm)">Remove</button>
  </div>

  </form>
</div>
{{currentElement}}
