<div>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container *ngFor="let column of dispColumns; let i = index" [matColumnDef]="column">
      <th mat-header-cell *matHeaderCellDef [resizeColumn]="true"
          [index]="i"> <span>{{column}} </span></th>
      <td mat-cell *matCellDef="let element" (click)="onClick(element)"> {{element[column]}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="dispColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: dispColumns;"></tr>
  </table>
</div>
<div>
  <form #qForm="ngForm" novalidate (ngSubmit)="submit(qForm)">
  <div>
    <input name="search" [(ngModel)]="search">
  </div>
  <div>
    <button (click)="submit(qForm)">Search</button>
    <button (click)="create(qForm)">Create</button>
    <button (click)="edit(qForm)">Edit</button>
    <button (click)="remove(qForm)">Remove</button>
  </div>

  </form>
</div>

